/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/*---------------------------------- estilos header -----------------*/
.base_botones{
  /*background-color: #fff;*/
  display: inline-block;
}



.boton{
  padding: 5px 0px 5px 0px;
  font-size: 17px;
  display: inline-block;
  width: 180px;
  background-color: transparent;
  border: 1px solid #fff;
  margin-left: -5px;
  margin-right: : -5px;
  color:#fff;
  font-weight: 200;
}

.boton_activo{
  border: 1px solid #fff;
  margin-left: -5px;
  background-color: #fff;
  color:#74b3e0;
  font-weight: 400;
}

.boton_inactivo{

}

.customNextBtn{
  cursor: pointer;
}
.customPrevBtn{
  cursor: pointer;
}


.select-wrapper input.select-dropdown {
    border: 1px solid #fff !important;
}

.botonera{
  margin-top: 50px;
  margin-bottom: 10px;
}

.botonera a{
  margin: 0px;
  margin-left: -5px;
  border: 1px solid #6f6f6f;
  padding: 10px 20px;
}

.botonera a.active{
  background-color:#4ebbe3;
  color:#fff;
}

.botonera a:hover{
  background-color:#4ebbe3;
  color:#fff;
}


.botonera_mapa{
  position: relative;
  top: 15px;
  z-index: 999;
  left: 50px !important;
}

.modal {
  max-height: 90%;
  width: 90%;
}

.sombra{
  -webkit-box-shadow: 7px 9px 18px -2px rgba(0,0,0,0.71);
  -moz-box-shadow: 7px 9px 18px -2px rgba(0,0,0,0.71);
  box-shadow: 7px 9px 18px -2px rgba(0,0,0,0.71);
}

.container{
  color:#fff;
}

.velocimetros > div{
  margin: 50px 0px;
}

.boton_redondo{
  color: #fff !important;
  background: rgba(51, 51, 51, 0.5);
  padding: 10px 15px;
  border-radius: 19px;
  margin: 50px 0px;
}
/*hacer le over del boton o no por que es mobile*/


.chart-gauge2 .chart-gauge1 .chart-gauge3{
    margin: 50px 0px;
}

.jqstooltip{
  background-color: transparent !important;
  border-color: transparent !important;
}


#titulo_detalle, .subtitulo_chico{
  font-size: 21px;
  font-weight: 800;
}

.estaciones_5{
  font-size: 30px;
  color: #4ebbe3;
}

.margenes_pop{
  margin: 30px 30px;
}


.navbar{height :30px !important;}
.navbar-default{background : #000 !important;}



@media (max-width: 600px) {
  .botonera a {
      padding: 10px 4px;
  }
}
