/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #fff;
}

.cabezera{
  color:#fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/*---------------------------------- estilos header -----------------*/
.margen_arriba_g{
  margin-top: 70px;
}
.base_botones{
  /*background-color: #fff;*/
  display: inline-block;
}

.boton{
  padding: 5px 0px 5px 0px;

  font-size: 17px;
  display: inline-block;
  width: 180px;
  background-color: transparent;
  border: 1px solid #fff;
  margin-left: -5px;
  color:#fff;
  font-weight: 200;
}

.boton_activo{
  border: 1px solid #fff;
  margin-left: -5px;
  background-color: #fff;
  color:#74b3e0;
  font-weight: 400;
}

.cont_carrucel{
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}

.velocimetros{
  margin-top: 4em;
}
