/** Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/*declaración de fuentes*/

::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Oculta Datos nav */

.datos-nav{
	display: none;
}

.main-container .style-scope .dgm-footer{
	display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 46px !important;
}

main {
 position: relative;
 overflow: hidden; 
}

.alert.alert-warning.warning-nav {
  position: absolute;
  width: 100%;
  top: 46px;
  z-index: 1;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .alert.alert-warning.warning-nav { padding: 5px; }
}
@media screen and (max-width: 767px) {
  .alert.alert-warning.warning-nav { font-size: 10px; padding: 0 5px !important; }
}

#videoBlock {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0!important;
  margin: -46px 0 0 0!important;
  top: 0;
  background-color: gray;
  position: relative;
  color: #fff;
}
#videoBlock h2 { font-size: 60px; margin-top: 0; }
#video{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.titulo_hd{
  font-weight: bold;
  font-size: 24pt;
}


.sub_titulo_hd{
  font-weight: 300;
  font-size: 18pt;
}

.titulo_ciudad{
  font-weight: bold;
  font-size: 14pt;
}

.titulo_estacion{
  font-weight: 300;
  font-size: 12pt;
}

.boton_ver{
  font-weight: 300;
  font-size: 9pt;
}


nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.mapa_titulo{
  color: #424242;
  margin-top: 50px;
  margin-bottom: 40px;
}

.data-table {
  margin-bottom: 50px;
  background-color: #f0f0f0;
  padding: 15px;
}
.data-table > .table > thead > tr > th { font-weight: bold; }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/*---------------------------------- estilos header -----------------*/
.base_botones{
  /*background-color: #fff;*/
  display: inline-block;
}

.boton{
  display: inline-block;
  width: 150px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #fff;
  color:#fff;
  font-weight: 300;
  font-size: 14px;
}

.boton_activo{
  border: 1px solid #fff;
  margin-left: -5px;
  background-color: #fff;
  color:#74b3e0;
  font-weight: bold;
}

.contaminantes{
  color: #f9f9f9;
  background-color: rgba(243, 236, 236, .2);
  border: 0px;
  width: 300px;
  height: 50px;
  font-weight: 300;
  font-size: 16px;
  clear: both;
  float: left;
  border: 1px solid #fff;
  margin-bottom: 10px;
}

.contaminantes_mitad{
  color: #ddd;
  background-color:
  rgba(243, 236, 236, .2);
  border: 0px;
  width: 150px;
  height: 50px;
  font-weight: 300;
  font-size: 16px;
  float: left;
}


hr.red {
  margin: 10px 0 70px;
  border-top-color: #DCE0E0;
}

.red {
  color: #D0021B;
}


.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.boton_pop{
  margin: 20px 0px 20px 0px;
  border: 1px solid #333;
  border-radius: 10px 10px;
  padding: 3px 5px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.active_pop{
  color: #FFFFFF;
  background-color: #87c8f3;
}

.select-wrapper input.select-dropdown {
    border: 1px solid #fff !important;
}

.botonera{
  margin-top: 50px;
  margin-bottom: 10px;
}

.botonera a{
  margin: 0px;
  margin-left: -5px;
  border: 1px solid #ccc;
  padding: 10px 20px;
}

.botonera a.active{
  background-color:#4ebbe3;
  color:#fff;
}

.botonera a:hover{
  background-color:#4ebbe3;
  color:#fff;
}


.botonera_mapa{
  position: relative;
  top: 15px;
  z-index: 999;
  left: 50px !important;
}

.velocimetros > div{
  margin: 50px 0px;
}

.boton_redondo{
  color: #fff !important;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 15px;
  border-radius: 19px;
  margin: 50px 0px;
  font-size: 9pt;
  font-weight: 300;
}

.modal_mapa { cursor: pointer; }
.modal-body { padding: 40px 20px 20px; }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .modal-dialog { width: 760px; }
}
/*hacer le over del boton o no por que es mobile*/

.titulo_mapa{
  font-size: 24pt;
  font-weight: bold;
}

#estados{
  font-size: 11pt;
  font-weight: bold;
  width: 160px;
  height: auto;
}

.chart-gauge2 .chart-gauge1 .chart-gauge3{
    margin: 50px 0px;
}

.jqstooltip{
  background-color: transparent !important;
  border-color: transparent !important;
}


#titulo_detalle, .subtitulo_chico{
  font-size: 21px;
  font-weight: 800;
}

.estaciones_5{
  font-size: 30px;
  color: #4ebbe3;
}

.margenes_pop{
  margin: 30px 30px;
}

#navbarMainCollapse {
  background-color: #393C3E;
}

.navbar{height :30px !important;}
.navbar-default{background : #000 !important;}

.navbar-inverse.dgm-navbar {
    border-bottom: 0px solid #393c3e !important;
    background: #393c3e !important;
}

.tabla_contaminantes{
  cursor:pointer;
}

.active_graf{
    background-color: #4ebbe3;
    color: #fff;
    padding: 3px 15px;
}

canvas{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding: 4px;
}

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.chart-container {
    width: 290px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.cont {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.titulo_chart{
  color:#fff;
}



  .chart-gauge
  {
    width: 100%;
    margin: 32px 0 0 0;
  }
  .chart-gauge2
  {
    width: 100%;
    margin: 32px 0 0 0;
  }
  .chart-gauge3
  {
    width: 100%;
    margin: 32px 0 0 0;
  }

  .chart-first
  {
    fill: #9FBD35;
  }

  .chart-second
  {
    fill:url(#grad1);
  }

  .chart-third
  {
    fill: #FB3033;
  }

  .chart-blanco
  {
    fill: #FFFFFF;
  }

  /* .needle, .needle-center
  {
    fill: #ffffff;
  } */
  .text {
    color: "#ffffff";
    font-size: 16px;
  }

  svg {
    font: 10px sans-serif;
  }

  #max-value-label {
    display: block;
    margin-top: -27px;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .parallax img{
    filter: contrast(100%) brightness(70%);
  }

  .input-field label{
    color: #fff !important;
  }

  #mapid { height: 600px; }
  #map_detalle { height: 400px; }

  .s5ths,
  .m5ths,
  .l5ths,
  .xl5ths {
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .row .col.s5ths {
    width: 20%;
  }


  .green h2::after{
	content: '';
	width: 40px;
	position: absolute;
	bottom: -6px;
	left: 0;
	border-bottom: solid 5px #0c9;
  }

  .forLoader{
	width:100%;
	height:100%;
	position:fixed;
	z-index: 999999999;
	align-items: center;
	margin:auto;
	background: rgba(0,0,0,0.7);
	display:flex;
  }

  select,
option {
  color: #333333;
}

.leaflet-container a { text-decoration: none; }

.info-text {
  margin-top: 20px;
  font-size: 14px;
}

/*
   Estilos que estaban en el HTML
*/

.move-up {
  position: absolute;
  display: table;
  top: 0;
  width: 100%;
  height: 100%;
}
.move-up > .container {
  display: table-cell;
  vertical-align: middle;
  padding-top: 46px;
}
@media (max-width: 438px) {
  .move-up select { width: 100%; }
  .base_botones{ display: block; }
  #videoBlock h2 { font-size: 40px; }
}

.white-text,
.white-text a { color: #fff; }


/* BETA TAG
********************/
.beta {
  position: absolute;
  top: 19px;
  right: -115px;
  width: 300px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: #000;
  background-color: #0c9;
  z-index: 999;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -sand-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media screen and (min-width: 422px) and (max-width: 767px) {
  .beta {
    top: 32px;
    right: 0;
    width: 100%;
    padding: 5px;
    font-size: 10px;
    -moz-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    -sand-transform: none;
    transform: none;
  }
}
@media screen and (max-width: 421px) {
  .beta {
    top: 47px;
    right: 0;
    width: 100%;
    padding: 5px;
    font-size: 10px;
    -moz-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    -sand-transform: none;
    transform: none;
  }
}

/* GO MAP
********************/

#go-map {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 50px;
  height: 50px;
  padding: 6px;
  margin-left: -25px;
  color: #000;
  border-radius: 50%;
  line-height: 3.7;
  background-color: #fff;
  z-index: 999;
}
#go-map:hover { background-color: #c6c6c6; cursor: pointer; }
#go-map i { font-size: 40px }

@media (max-width: 767px) { #go-map { display: none; } }


/*
   .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 999999999999999;
    margin: auto;
	}


	@keyframes spin {
	    0% { transform: rotate(0deg); }
	    100% { transform: rotate(360deg); }
	}
*/
.bloqueado
{
  color: white;
  background-color: grey;
  cursor: not-allowed;
}

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

.show{
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index:9999;
  display:block !important;
}

.loader {
  color: #ffffff;
  font-size: 14px;
  margin: 70px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}




@media (max-width: 600px) {
  .botonera a {
      padding: 10px 4px;
  }
}


@media only screen and (min-width: 601px) {
  .row .col.m5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 1201px) {
  .row .col.xl5ths {
    width: 20%;
  }
}

.date-gauge {
  margin-top: -20px;
  margin-bottom: 35px;
}

/*
** Formatos de datos
*/
.dataset-format{font-size:12px;font-weight:700;color:#fff;text-transform:uppercase;border-radius:0;padding:3px 5px;text-decoration:none;}.dataset-format:hover,.dataset-format:focus{color:#fff;}.dataset-format[data-format="csv"],.dataset-format[data-format="CSV"]{background-color:#ffd100}.dataset-format[data-format="kml"],.dataset-format[data-format="KML"]{background-color:#474747}.dataset-format[data-format="geojson"],.dataset-format[data-format="GEOJSON"],.dataset-format[data-format="json"],.dataset-format[data-format="JSON"]{background-color:#33ffd1}.dataset-format[data-format="pdf"],.dataset-format[data-format="PDF"]{background-color:#ff2200}.dataset-format[data-format="arcgis"],.dataset-format[data-format="ARCGIS"]{background-color:#d100FF}.dataset-format[data-format="xlsx"],.dataset-format[data-format="xls"],.dataset-format[data-format="excel"],.dataset-format[data-format="vnd.ms-excel"],.dataset-format[data-format="EXCEL"],.dataset-format[data-format="VND.MS-EXCEL"],.dataset-format[data-format="XLS"],.dataset-format[data-format="XLSX"]{background-color:#00d100}.dataset-format[data-format="xml"],.dataset-format[data-format="XML"]{background-color:#0000d1}.dataset-format[data-format="oracle"],.dataset-format[data-format="ORACLE"]{background-color:#55bada}.dataset-format[data-format="shp"],.dataset-format[data-format="SHP"]{background-color:#bada55}.dataset-format[data-format="kmz"],.dataset-format[data-format="KMZ"]{background-color:#55adab}.dataset-format[data-format="zip"],.dataset-format[data-format="ZIP"]{background-color:#669999}