<!DOCTYPE html>
<html lang="en">
<head>
  <title>Calidad del Aire</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <link rel="import" href="bower_components/polymer/polymer.html">
  <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="http://cdn.datos.gob.mx/qa/bower_components/dgm-style/main.css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="import" href="https://cdn.datos.gob.mx/bower_components/dgm-navbar/dgm-navbar.html">
  <link rel="import" href="https://cdn.datos.gob.mx/bower_components/dgm-footer/dgm-footer.html">

  <!-- Fuente Roboto-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,700" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  <style>
    .datos-nav
    {
      display: none;
    }

    .main-container .style-scope .dgm-footer{
      display: none;
    }

  </style>
</head>

<body class="front" cz-shortcut-listen="true" >

  <dgm-navbar></dgm-navbar>
  <main>

<!--
    <div class="forLoader" id="forLoader1">
        <div class="loader"></div>
    </div>
-->
<div class="container">
 <div class="row">
     <div class="col-xs-12">
         <breadcrumb>
             <ul class="breadcrumb">
                 <li>
                     <a ui-sref="landing" href="/">
                         <i class="glyphicon glyphicon-home"></i>
                     </a>
                 </li>
                 <!-- ngRepeat: crumb in crumbs -->
                 <li ng-repeat="crumb in crumbs" class="ng-scope">
                     <a href="index.html" class="ng-binding">
                         Calidad de aire
                     </a>
                 </li>
                 <li ng-repeat="crumb in crumbs" class="ng-scope">
                     <a class="ng-binding">
                          Preguntas frecuentes
                     </a>
                 </li>
                <!-- end ngRepeat: crumb in crumbs -->
             </ul>
         </breadcrumb>
     </div>
 </div>
  <div class="row">
      <div class="col-xs-12">
          <h1>Preguntas frecuentes</h1>
      </div>
  </div>
   <div class="row">
       <div class="col-xs-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  ¿Qué información puedes encontrar aquí?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <p>
                   Los datos de calidad del aire de las últimas horas, para los principales contaminantes que afectan nuestra salud.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  ¿De donde proviene la información?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
              <p>
                  Los datos de calidad del aire son generados en las estaciones de monitoreo automáticas operadas por diversos gobiernos estatales y municipales en México.
              </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  ¿Qué uso le puedo dar a los datos que arroja?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p>
                    Esta información será de utilidad para estar informado de los niveles de contaminación del aire que hay tu localidad.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading4">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  ¿Con quién puedo contactar si tengo dudas sobre estos datos?
                </a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
              <div class="panel-body">
                <p>
                   En sinaica.inecc.gob.mx (página desarrollada por el Instituto Nacional de Ecología), que es la fuente que concentra los datos que aquí se reportan, se encuentra un directorio de los responsables tanto internos como los responsables en cada entidad integrada a dicho sistema.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading5">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  ¿Cuales son los principales contaminantes que afectan mi salud?
                </a>
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
              <div class="panel-body">
                <p>
                    En el glosario de términos puedes encontrar cuales son los contaminantes criterio, que son aquellos que tienen un efecto en nuestra salud, y a los cuales se les ha establecido un limite máximo como medida de protección.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading6">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  ¿Cuantas estaciones de monitoreo existen en México?
                </a>
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
              <div class="panel-body">
                <p>
                    175
                </p>
              </div>
            </div>
          </div>



        </div>
      </div>
   </div>
</div>


  </main>
  <dgm-footer></dgm-footer>

    <script>
       $(docuement).ready(fuction()
       {

       });
    </script>
  </body>
</html>
